@import '../../themes.scss';

.post {
  overflow: hidden;

  .read-more, .read-less {
    text-decoration: underline;
  }

  @include themify($themes) {
    background-color: themed('background');
    color: themed('fontColor');
  }

  &:hover {
    cursor: pointer;
    @include themify($themes) {
      border: 1px solid themed('borderColor');
    }
  }
  .h_iframe iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

  // padding: 1rem;
  margin: 1rem 0;

  .subreddit {
    font-size: 0.75rem;
    font-weight: bold;
  }

  .preview {
    margin-top: 1rem;
    img {
      width: 100%;
    }
  }
}
