<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">All <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/r/popular']" routerLinkActive="active">Popular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/search']" routerLinkActive="active">Advanced Search</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="search()">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Reddit" aria-label="Search" formControlName="term" required>
      <button class="btn my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form [formGroup]="settingsForm">
      <div class="custom-control custom-switch ml-3">
        <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="darkMode">
        <label class="custom-control-label" for="customSwitch1">Dark mode</label>
      </div>
      <div class="custom-control custom-switch ml-3">
        <input type="checkbox" class="custom-control-input" id="customSwitch2" formControlName="imagesOnly">
        <label class="custom-control-label" for="customSwitch2">Image only view</label>
      </div>
    </form>
  </div>
</nav>
